In [1]:
import math
print(math.sqrt(16))

4.0

In [3]:
def my_function():
    x=10
    x += 5
    print(x)


my_function()

15

In [5]:
#3.x = 5
x=10
if x == 10:
    print("x is 10")

x is 10

In [6]:
#4.
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [9]:
def square(n):
    return( n * n)

print(square(4))

16

In [25]:
my_tuple = [1, 2, 3]
my_tuple[1] = 5
print(my_tuple)

[1, 5, 3]

In [13]:
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [16]:
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [19]:
for i in range(5, 1,-1):
    print(i)

5
4
3
2

In [22]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John